# Library Visualizations
##### Data visualizations of print books in the University of Edinburgh's library

* **Funding:** Edinburgh Futures Institute (EFI)
* **Data Source:** Library and University Collections (L&UC), OCLC MARC Data for Print Books
* **Project Dates:** 17 June 2019 - 27 July 2019
* **Author:** Lucy Havens

Note: to run this notebook please launch in a terminal window with the following command (the default date rate limit is too small to run the notebook properly): *jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000000*

## Preparation

Import required libraries

In [1]:
import csv
import pandas as pd
import numpy as np
import re

Load CSV files

In [2]:
# df0 = pd.read_csv("/afs/inf.ed.ac.uk/user/s15/s1545703/Downloads/LibViz_DICE/Data/MARC_data.csv")

# df_tem = pd.read_csv('Data/VizData_ToClean/temporal_MARC_data.csv')   #("/afs/inf.ed.ac.uk/user/s15/s1545703/Downloads/LibViz_DICE/Data/temporal_MARC_data.csv")
df_geo = pd.read_csv('Data/VizData_ToClean/geographic_MARC_data.csv')   #("/afs/inf.ed.ac.uk/user/s15/s1545703/Downloads/LibViz_DICE/Data/geographic_MARC_data.csv")
# df_top = pd.read_csv('Data/VizData_ToClean/topical_MARC_data.csv')   #("/afs/inf.ed.ac.uk/user/s15/s1545703/Downloads/LibViz_DICE/Data/topical_MARC_data.csv")

# df = pd.concat(map(pd.read_csv, glob.glob('Data/BatchToClean/*.csv))

In [3]:
# df.head()
# df_geo.head()
# df_tem.head()
# df_top.head()
# df_geo.columns
df_publ_place = pd.DataFrame()
df_publ_place['publ_place'] = df_geo['publ_place']
df_publ_place['publ_place1'] = df_geo['publ_place1']
df_publ_place.to_csv('Data/VizData_ToClean/publication_place_MARC_data.csv')

In [5]:
df_top.columns

Index(['Unnamed: 0', 'isbn', 'isbn1', 'loc_call_no', 'subject_cat_code',
       'dewey_no', 'personal_name', 'relator', 'uniform_title',
       'uniform_title1', 'title', 'title_cont', 'stat_of_resp',
       'content_type_term', 'content_type_code', 'titles_words_assoc_w_name',
       'title1', 'general_subdivision', 'form_subdivision',
       'general_subdivision1', 'topic_or_geo', 'general_subdivision2',
       'general_subdivision3', 'genre_form_focus', 'genre_form_focus1'],
      dtype='object')

In [3]:
# shape0 = df_0.shape
# print("Rows:", shape0[0])
# print("Columns:", shape0[1])

df_geo_shape = df_geo.shape
print("Rows:", df_geo_shape[0])
print("Columns:", df_geo_shape[1])
print()
df_tem_shape = df_tem.shape
print("Rows:", df_tem_shape[0])
print("Columns:", df_tem_shape[1])
print()
df_top_shape = df_top.shape
print("Rows:", df_top_shape[0])
print("Columns:", df_top_shape[1])

assert df_geo_shape[0] == df_tem_shape[0]
assert df_top_shape[0] == df_tem_shape[0]

Rows: 1366522
Columns: 19

Rows: 1366522
Columns: 19

Rows: 1366522
Columns: 25

Remove empty columns (columns in which every row is NaN, meaning the values are missing)

In [4]:
# # Maximum number of empty values = total number of rows in the dataframe
# total_rows = df0.shape[0]
# col_list0 = list(df0.columns)
# cols_to_drop = [] # create a list of columns to drop
# for col0 in col_list0:
#     if df0[col0].isnull().sum() == total_rows:
#         cols_to_drop += [col0]

# print("Empty Columns:", cols_to_drop)

In [4]:
# df0.drop(['Unnamed: 0'], axis=1, inplace=True) # columns are axis 1, rows are axis 0
# df0.head()

df_geo.drop(['Unnamed: 0'], axis=1, inplace=True) # columns are axis 1, rows are axis 0
# df_geo.head()

# df_tem.drop(['Unnamed: 0'], axis=1, inplace=True) # columns are axis 1, rows are axis 0
# df_tem.head()

df_top.drop(['Unnamed: 0'], axis=1, inplace=True) # columns are axis 1, rows are axis 0
# df_top.tail()

Find records for print books (identified as "text" ("txt") in the MARC data) and remove the rest of the records.

In [5]:
# List of acceptable values identifying print books (modify as needed for different datasets)
print_book_values = ['text','txt','tetx', 'testo','tekst', 'texto']

df_formats = pd.DataFrame()
df_formats["content_type_term"] = df_top["content_type_term"]
df_formats["content_type_code"] = df_top["content_type_code"]

terms = list(df_formats.iloc[:, 0].unique())
codes = list(df_formats.iloc[:, 1].unique())

unacceptable_terms = []
for term in terms:
    term = term.lower()
    term = term.replace(' ','')
    acceptable = False
    for val in print_book_values:
        if val in term:
            acceptable = True
    if not acceptable:
        unacceptable_terms += [term]

unacceptable_codes = []
for code in codes:
    code = code.lower()
    code = code.replace(' ','')
    acceptable = False
    for val in print_book_values:
        if val in code:
            acceptable = True
    if not acceptable:
        unacceptable_codes += [code]

index_list = []
for t in unacceptable_terms:
    rowsToRemove = df_formats[df_formats.iloc[:,0] == t]
    indecesToRemove = rowsToRemove.index
    if len(indecesToRemove) > 0:
        for i in indecesToRemove:
            index_list += [i]
for c in unacceptable_codes:
    rowsToRemove = df_formats[df_formats.iloc[:,1] == c]
    indecesToRemove = rowsToRemove.index
    if len(indecesToRemove) > 0:
        for i in indecesToRemove:
            index_list += [i]
            
print(len(index_list))

69274

### Note on Boolean Operations

We can combine conditions through logical **boolean operations**. Boolean operations are logical constructs that work through the following **boolean operators**: 

1. **AND (`&`)**: selects a row if **all** conditions joined by an `&` sign are true:
    *  e.g. `df.loc[(df['1960'] > 1000) & (df['1960'] < 3000)]` returs all countries with values between 1000 **and** 3000. 
    
* **OR ('|')**: selects a row if **at least one** of the conditions joined by a `|` (say 'pipe') sign are true:
    * e.g. `df.loc[(df['1960'] < 1000) | (df['1960'] > 3000])` returs all countries with values smaller than 1000 **or** with values larger than 3000. 
    
* **NOT(~)**: selects a row if a **condition is not met**. the `~` charater (say 'tilde') has to stand _before_ the condition: 
    *  e.g. `df.loc[~(df['1960'] < 1000)]` returs all countries with values not lower than 1000 (i.e. rows with values higher than 1000, including 1000.) 

You can combine these boolean operations in many ways using parentheses, as in the following example, which returns all countries with values between 1000 and 3000, or countries with values exactly 10000 in 1960.

`df.loc[((df['1960'] > 1000) & (countryData['1960'] < 3000)) | (countryData['1960'] == 10000)]`

In [13]:
# To make sure the acceptable_terms_code list reflects the dataset:
    
# print(df_top['content_type_code'].value_counts())
# print(df_top['content_type_term'].value_counts())

In [6]:
# df0.drop(index_list, inplace=True)
# df_tem.drop(index_list, inplace=True)
df_geo.drop(index_list, inplace=True)
df_top.drop(index_list, inplace=True)

All dataframes should include the same print books (meaning they have the same number of rows).

In [7]:
# print('All MARC data')
# print("Rows:", df0.shape[0])
# print("Columns:", df0.shape[1])
# print()
# print('Temporal MARC data')
# print("Rows:", df_tem.shape[0])
# print("Columns:", df_tem.shape[1])
# print()
print('Geographic MARC data')
print("Rows:", df_geo.shape[0])
print("Columns:", df_geo.shape[1])
print()
print('Topical MARC data')
print("Rows:", df_top.shape[0])
print("Columns:", df_top.shape[1])

# assert df_top.shape[0] == df_tem.shape[0]
# assert df_geo.shape[0] == df_top.shape[0]
# assert df_tem.shape[0] == df0.shape[0]

Geographic MARC data
Rows: 1297311
Columns: 18

Topical MARC data
Rows: 1297311
Columns: 24

## Cleaning

Clean identification data fields (listed in italics)

1. Consolidate repetitive columns
2. Replace missing field values with an empty string or the digit 0 (depending on column's data type)
2. Reconcile different field values from columns representing the same data point (i.e. *title* and *title1*)

*isbn
isbn1
personal_name
uniform_title
real_world_obj_URI
uniform_title1
real_world_obj_URI1
title
title_cont
stat_of_resp
physical_desc
content_type_term
content_type_code
personal_name1
title1
uniform_title1
real_world_obj_URI2*

In [40]:
def consolidateColumns(col0, col1, df):  # pass in two columns to consolidate and the dataframe of those columns
    clean_values = []

    for index,row in df.iterrows():
        value0 = str(row[col0]).lower()
        value1 = str(row[col1]).lower()
        # if there is a value...
        if "Unknown" not in value0:
            value0_list = value0.split(';')
            if "Unknown" not in value1:
                value1_list = value1.split(';')
                for value1 in value1_list:
                    if value1 not in value0_list:
                        value0_list += [value1]

            clean_values += [value0_list]

        # if one value is missing...
        else:
            if "Unknown" not in value1:
                value1_list = value1.split(';')
                clean_values += [value1_list]
        # if both values are missing...
            else:
                clean_values += [[""]]

    return clean_values

#### ISBN

In [11]:
# print(isbns.isnull().sum())
# print(isbn1s.isnull().sum())
# print(df0['isbn'].value_counts())
# print(df0['isbn1'].value_counts())

Unknown                       829361
\\$cNo price                     318
9787106023560                     98
7106023566 (booklet : set)        96
7805691797                        90
7805699941 (set)                  71
7805695326 (set) :                58
\\$cRMBY1.20                      36
\\$cRMBY1.50                      35
\\$cRMBY1.40                      33
7805695326 (set)                  32
9571507695 (set)                  31
\\$cRMBY1.10                      27
\\$cRMBY1.00                      27
\\$cRMBY1.15                      25
\\$cRMBY1.25                      24
2503360009                        24
\\$cNT{dollar}120.00              23
\\$cRMBY1.30                      21
\\$cNo price (pbk)                21
9575432525                        21
\\$cRMBY1.05                      21
\\$c(pbk)                         20
\\$c(pbk.)                        20
\\$cRMBY1.80                      20
7805697418 (set)                  20
\\$cRMBY1.35                      19
\\$cRMBY1.60                      19
\\$cRMBY1.65                      18
1560811900                        18
                               ...
9781853461149 (pbk)                1
0582210615                         1
0948374020                         1
0752425528                         1
9780895792433                      1
9780198238089                      1
0912776838                         1
033520385X                         1
9781853461323                      1
9780739172766 (alk. paper)         1
8870170357                         1
0201122219                         1
0810936690                         1
9789629961183 (pbk.)               1
0801867681 (pbk.)                  1
0521852617 (hardback)              1
0717108643                         1
0946897549                         1
025202883X                         1
0788504266                         1
0444872957                         1
0700510168                         1
9004141545                         1
8772889128 (pbk.)                  1
2742705317                         1
0500820031                         1
3791307975 :                       1
9780199262861                      1
0470673591                         1
8716142721                         1
Name: isbn, Length: 530803, dtype: int64
Unknown                        829361
(pbk)                           22679
(pbk.)                           4930
(alk. paper)                     1728
(U.S.)                           1400
No price                         1032
(acid-free paper)                 967
(set)                             916
(v.2)                             804
(pbk. : alk. paper)               498
no price                          479
(New York)                        391
(v.3)                             260
(US)                              250
(Berlin)                          235
(U.S. : alk. paper)               212
(v. 2)                            204
(v.1)                             198
£9.99                             180
(v. 1)                            180
(series)                          147
£25.00                            147
(acid-free, recycled paper)       128
£14.99                            126
(microfiche)                      126
£8.99                             126
(pbk : acid-free paper)           123
(hard)                            123
(lib. bdg.)                       120
(pbk : alk. paper)                119
                                ...
\\$a186156144X                      1
\\$a9780416127522$qhardback         1
\\$a0435292188                      1
\\$a0774805323                      1
\\$a0255367015$qpaperback           1
\\$a0750216999                      1
\\$a849793783X                      1
\\$a3476004368                      1
\\$a9781841583167 (hbk.)            1
\\$a0820416746                      1
\\$a3772813402$qBand 4              1
\\$a2207243907                      1
\\$a2907293249                      1
\\$a0406351694                      1
\\$a0886451906                      1
\\$a0486281493                      1
\\$a144410988X                      1
\\$a9788821008382                   1
\\$a9780140309058$q(pbk.)           1
\\$a0716501597 (v.3)                1
\\$a3533024547                      1
\\$a0872204006 (pbk)                1
\\$a9781898331445                   1
\\$a9042007397                      1
\\$a9783421032843                   1
\\$a8430635033                      1
\\$a0240449428                      1
\\$a881704492X$qhardback            1
\\$a1874579571                      1
\\$a9781841717890                   1
Name: isbn1, Length: 479812, dtype: int64

In [41]:
# isbns = (df0['isbn'])
# isbn1s = (df0['isbn1'])

isbns = (df_tem['isbn'])
isbn1s = (df_tem['isbn1'])

# isbns = (df_geo['isbn'])
# isbn1s = (df_geo['isbn1'])

# isbns = (df_top['isbn'])
# isbn1s = (df_top['isbn1'])

isbns_list = list(isbns)
isbn1s_list = list(isbn1s)
assert len(isbns_list) == len(isbn1s_list) # confirm isbns and isbn1s are the same length

In [42]:
clean_isbns = consolidateColumns('isbn','isbn1',df_tem)
assert len(clean_isbns) == len(list(df_tem["isbn"]))

In [44]:
def validISBNs(clean_values_list):
    # remove words and abbreviations from list of isbns
    cleaner_isbns = []
    for isbn_list in clean_isbns:
        new_list = []
        for isbn in isbn_list:
            test0 = re.findall("\d+[\D?]$",isbn)
            test1 = re.findall("\d+",isbn)
            if (len(test0) > 0):
                new_list += test0
            elif (len(test1) > 0):
                new_list += test1
            else:
                new_list += ""

        cleaner_isbns += [new_list]

    # Each isbn value should be at least 10 characters in length
    for isbn_list in cleaner_isbns:
        for isbn in isbn_list:
            if (len(isbn) < 10):
                isbn_list.remove(isbn)
    
    return cleaner_isbns

cleaner_isbns = validISBNs(clean_isbns)
assert len(cleaner_isbns) == len(list(df_tem["isbn"]))

In [54]:
# df0_clean = pd.DataFrame()
# df0_clean["isbn"] = cleaner_isbns
# df0_clean.tail()

df_tem_clean = pd.DataFrame()
df_tem_clean["isbn"] = cleaner_isbns
df_tem_clean.tail()

                             isbn
1139301              [3100381343]
1139302              [091280405x]
1139303  [2222027888, 2222027888]
1139304  [0404617220, 0404617220]
1139305              [0824090470]

#### Author
Time permitting: see if author names can by identified in statements of responsibility

In [55]:
# personal_name, stat_of_resp, personal_name1

personal_names = list(df_tem['personal_name'])
statements_of_responsibility = list(df_tem['stat_of_resp'])
unmatched_indeces = []
maxI = len(personal_names)
i = 0
while i < maxI:
    names = str(personal_names[i])
    alpha_list = re.findall('\w+',names)
    statement = str(statements_of_responsibility[i])
    is_in = False
    for name in alpha_list: 
        if name in statement:
            is_in = True
    if not is_in:
        unmatched_indeces += [i]
    i += 1
print(len(unmatched_indeces))

424279

In [46]:
# Use the code below when working with smaller, test datasets
# for i in unmatched_indeces:
#     print(personal_names[i], "|", statements_of_responsibility[i])

In [56]:
# new_names = []
# for item in personal_names:
#     name = str(item)
#     if name == 'Unknown':
#         new_names += ['Unknown']
#     else:
#         m = n.strip(',')
#         new_names += [m]

# assert len(new_names) == len(personal_names)

In [60]:
df_tem_clean["author"] = list(df_tem["personal_name"])
df_tem_clean.tail()

                             isbn                  author
1139301              [3100381343]           Kafka, Franz,
1139302              [091280405x]  Mezzatesta, Michael P.
1139303  [2222027888, 2222027888]                 Unknown
1139304  [0404617220, 0404617220]        Land, Stephen K.
1139305              [0824090470]       Leistritz, Larry,

#### Publication Date

In [23]:
# print(df0['date_of_work'].isnull().sum())
# print(df0['publ_date'].isnull().sum())
# print(df0['publ_date1'].isnull().sum())
# print(df0['time_period_of_content'].isnull().sum())
# print(df0['geo_subdivision'].isnull().sum())
# print(df0['dates_assoc_w_name'].isnull().sum())
# print(df0['chrono_subdivision'].isnull().sum())
# print(df0['chrono_subdivision1'].isnull().sum())
# print(df0['chrono_subdivision2'].isnull().sum())

396
6
396
397
396
337
368
378
397

Use 'publ_date' column (as it has the fewest empty values in the test dataset).

In [79]:
# INPUT: string date range (contains '-')
# OUTPUT: list with the minimum and maximum dates as 4-digit strings
# Example 1: '1928-29' --> [1928, 1929]
# Example 2: '1830-5'  --> [1830, 1835]
def dateRangeToList(date_range):
    new_dates = []
    date_list = date_range.split('-')
    for d in date_list:
        d = d.strip('.')
        d = d.strip(',')
        if len(d) == 2:
            first_two = date_list[0][0] + date_list[0][1]
            new_d = first_two + d
            new_dates += [int(new_d)]
        elif len(d) == 1:
            first_three = date_list[0][0] + date_list[0][1] + date_list[0][2]
            new_d = first_three + d
            new_dates += [int(new_d)]
        elif len(d) == 4:
            new_dates += [int(d)]
        else:
            print(d)

    return new_dates

# From: www.oreilly.com/library/view/python-cookbook/0596001673/ch03s24.html
def int_to_roman(input):
    if not isinstance(input, type(1)):
        return "Expected type integer"
    if not 0 < input < 4000:
        return "Argument must be between 1 and 3999"
    ints = (1000, 900,  500, 400, 100,  90, 50,  40, 10,  9,   5,  4,   1)
    nums = ('M',  'CM', 'D', 'CD','C', 'XC','L','XL','X','IX','V','IV','I')
    result = []
    for i in range(len(ints)):
        count = int(input / ints[i])
        result.append(nums[i] * count)
        input -= ints[i] * count
    return ''.join(result)

# INPUT: string of capital letters (roman numerals)
# OUTPUT: 4-digit string (year)
def romanToDigits(roman_numerals):
    # Remove any punctuation and spaces from the inputted string
    no_spaces = roman_numerals.replace(" ","")
    input = no_spaces.replace(".","")
    
    # From: www.oreilly.com/library/view/python-cookbook/0596001673/ch03s24.html
    if not isinstance(input, type("")):
        return "Expected string"
    input = input.upper(  )
    nums = {'M':1000, 'D':500, 'C':100, 'L':50, 'X':10, 'V':5, 'I':1}
    sum = 0
    for i in range(len(input)):
        try:
            value = nums[input[i]]
            # If the next place holds a larger number, this value is negative
            if i+1 < len(input) and nums[input[i+1]] > value:
                sum -= value
            else: sum += value
        except KeyError:
            return "0"
    # easiest test for validity...
    if int_to_roman(sum) == input:
        return sum
    else:
        return "0"
    

# INPUT: century string (matches regex pattern '\d{2}\w{2}')
# Examples: '20th century', '21st'
# OUTPUT: list of minimum and maximum years as 4-digit strings
# Examples: ['1900','1999'], ['1900','2099']
def centuryToYears(c):
    digits = re.findall('\d{2}',c)
    years = []
    for century in digits:
        four_digits = int(century + '00')
        min_year = four_digits - 100
        max_year = four_digits - 1
    
    return [int(min_year),int(max_year)]
    

# INPUT: date string
# OUTPUT: 4 digit year as integer (earliest if multiple) UNLESS no date provided, in which case 0 is returned
def cleanDate(date):
    # If no date is provided...
    if (str(date) == 'Unknown'):
        return 0
    else:
        # If a year or range of years is provided...
        date_range = re.findall('\d{4}', date)
        if len(date_range) == 1:
            return int(date_range[0])
        elif len(date_range) > 1:
            # Turn date strings to integers
            min_date = int(date_range[0])
            for r in date_range:
                r = int(r)
                if r < min_date:
                    min_date = r
            return min_date

        # When len(date_range) == 0...
        else: 
            centuries = re.findall('\d{2}\w{2}', date)
            # If a century is provided, return the first year of that century
            if len(centuries) > 0:
                for c in centuries:
                    year_list = centuryToYears(c)
                    return min(year_list)

            # When len(centuries) == 0...
            else:
                # If roman numerals are provided, return the corresponding 4-digit year
                return romanToDigits(date)

In [103]:
publ_dates = list(df_tem['publ_date'])
new_publ_dates = []
for d in publ_dates:
    new_d = cleanDate(d)
    if int(new_d) > 2019:  # If dates are in the future they must be a typo in the catalog
        new_d = 0
    new_publ_dates += [int(new_d)]

assert len(publ_dates) == len(new_publ_dates)

In [82]:
# Manual check
maxI = 20
i = 0
while i < maxI:
    print(i, ":", df_tem.iloc[i].publ_date, "|", publ_dates[i], "|", new_publ_dates[i])
    i += 1

0 : 1828. | 1828. | 1828
1 : 1817. | 1817. | 1817
2 : 2007. | 2007. | 2007
3 : 2008. | 2008. | 2008
4 : 2007. | 2007. | 2007
5 : 2008. | 2008. | 2008
6 : 1838-1839. | 1838-1839. | 1838
7 : MDCCCXVII [1817] | MDCCCXVII [1817] | 1817
8 : 1878. | 1878. | 1878
9 : [2003], ©2003. | [2003], ©2003. | 2003
10 : [2004], ©2004. | [2004], ©2004. | 2004
11 : MDCCCXVII [1817] | MDCCCXVII [1817] | 1817
12 : 1967. | 1967. | 1967
13 : MDCCCXVII [1817] | MDCCCXVII [1817] | 1817
14 : MDCCCXVII [1817] | MDCCCXVII [1817] | 1817
15 : 1986. | 1986. | 1986
16 : 1967. | 1967. | 1967
17 : 2008. | 2008. | 2008
18 : 1986. | 1986. | 1986
19 : MDCCCXVII [1817] | MDCCCXVII [1817] | 1817

In [84]:
# manual check
i = 0
maxI = len(new_publ_dates)
bad_indeces = []
while i < maxI:
    if (new_publ_dates[i] == "Unknown") or (int(new_publ_dates[i]) > 2019):
        bad_indeces += [i]
    
    i += 1
print("Rows to fix:", len(bad_indeces), "(",(len(bad_indeces)/len(new_publ_dates))*100,"%)")

Rows to fix: 0 ( 0.0 %)

In [114]:
# df_tem_clean["publication_date"] = new_publ_dates
# df_tem_clean.tail()
# new_df_tem = pd.DataFrame()
# new_df_tem['publ_date'] = new_publ_dates
publ_counts = new_df_tem['publ_date'].value_counts()
# publ_counts.sort
df_pub = pd.DataFrame(publ_counts)
df_pub.head()

      publ_date
0        123378
1996      19679
1997      19418
1995      19152
1998      19059

In [115]:
df_pub.to_csv('Data/VizData/print_book_yearly_publ_totals.csv')

#### Title
Time permitting: clean!!!

In [82]:
# INPUT: a dataframe and two MARC fields (dataframe columns) with values of type string
# OUTPUT: a list of strings, where each string is a value from col2 appended to a value from col1 in the corresponding row
def combineColValues(df,col1,col2):
    titles = list(df[col1])
    titles_cont = list(df[col2])
    full_title_list = []
    i = 0
    maxI = len(titles)
    while i < maxI:
        t1 = titles[i]
        t2 = titles_cont[i]
        if t2 != 'Unknown':
            new_title = t1 + t2

        else:
            new_title = t1
        
        new_title.strip('/')
        new_title.strip()
        full_title_list.append(new_title)
            
        i += 1
        
    return full_title_list
    
full_titles = combineColValues(df_tem,'title','title_cont')

df_tem_clean["title"] = full_titles
df_tem_clean.head()

,isbn,author,publication_date,title
0,[],"Apollonius,",1828,Apollonii Rhodii Argonautica ::Ad fidem libror...
1,"[9781403976277, 9781403976277]","Ebenstein, Alan O.",2007,Milton Friedman :a biography /
2,"[9780230007895, 9780230007895]","Szenberg, Michael.",2008,Franco Modigliani :a mind that never rests /
3,"[1403996237, 1403996237]","Davidson, Paul,",2007,John Maynard Keynes /10$aJohn Maynard Keynes /...
4,"[1842143050, 1842143050]",Unknown,2008,Atlas of contraception /00$aAtlas of contracep...

Export a CSV file of the number of books published in each year.

In [100]:
books_per_year = pd.DataFrame(df_tem_clean['publication_date'].value_counts().reset_index().values, columns=["publication_date","total_print_books"])
# books_per_year.sort_values(by="publication_date", axis=1, ascending=True)
books_per_year
books_per_year.to_csv('Data/VizData/UoELibraryBooksPublishedPerYear.csv')

#### Publication Place

In [29]:
# print(df0.publ_place.isnull().sum())
# print(df0.publ_place1.isnull().sum())
# print(df0.geographic_area_code.isnull().sum())
# print(df0.geo_subdivision.isnull().sum())
# print(df0.geo_subdivision1.isnull().sum())
# print(df0.geo_subdivision2.isnull().sum())
# print(df0.geo_name.isnull().sum())
# print(df0.publisher.isnull().sum())
# print(df0.publisher1.isnull().sum())
# print(df0.text_language.isnull().sum())

6
396
285
396
294
394
346
7
396
359

Use 'publ_place' (as it has the fewest empty values in the test dataset).

In [7]:
# publ_places = list(df0.publ_place)
publ_places = df_geo.publ_place

In [8]:
clean_publ_places = []

for p in publ_places:
    p = str(p)
    if p == 'nan':
        clean_publ_places += [[]]
    else:
        if (p == "Newcastle-Ont.-Tyne"):  # manual fix for typo
            p = "Newcastle-on-Tyne"
        places = re.findall('[^\W\d]+[a-zA-Z\-a-zA-Z]*[ öüèéí.]*[a-zA-Z\-a-zA-Z]*[ ]*[^\W\d]+[.]*',p)  # chars to consider: áàåâæçéèîñöœûü
        clean_places = []
        for new_p in places:
            clean = new_p.strip() # remove trailing whitespace
            if len(clean) > 0:
                clean_places += [clean]
        clean_publ_places += [clean_places]

assert len(publ_places) == len(clean_publ_places)
# clean_publ_places

In [9]:
# df0_clean["publication_place"] = clean_publ_places
df_geo_clean = pd.DataFrame()
df_geo_clean["publication_place"] = clean_publ_places
df_geo_clean.head()

  publication_place
0         [Lipsiae]
1       [Edinburgi]
2        [New York]
3     [Basingstoke]
4     [Basingstoke]

In [10]:
all_publ_places = list(df_geo_clean['publication_place'])
publ_place_counts = {(all_publ_places[0][0]):1}
for place_list in all_publ_places:
    for place in place_list:
        if place in publ_place_counts:
            publ_place_counts[place] += 1
        else:
            publ_place_counts[place] = 1
print(len(publ_place_counts))


# d = {}
# d[1] = 1
# if 2 in d:
#     d[2] += 1
# else:
#     d[2] = 1
# print(d)

26711

In [11]:
# df0_clean
df_geo_counts = pd.DataFrame()
df_geo_counts['Publication Place'] = list(publ_place_counts.keys())
df_geo_counts['Total Books'] = list(publ_place_counts.values())
df_geo_counts.head()

  Publication Place  Total Books
0           Lipsiae         2277
1         Edinburgi         4237
2          New York        83233
3       Basingstoke         5289
4        Boca Raton          516

In [12]:
df_geo_counts.to_csv('Data/VizData/books_per_publication_place.csv')

## Adding Associated Data

#### Subject Classification

In [23]:
# print(df0['loc_call_no'].isnull().sum())       # 159
# print(df0['subject_cat_code'].isnull().sum())
# print(df0['dewey_no'].isnull().sum())          # 304
# print(df0['titles_words_assoc_w_name'].isnull().sum())
# print(df0['general_subdivision'].isnull().sum())
# print(df0['form_subdivision'].isnull().sum())
# print(df0['general_subdivision1'].isnull().sum())
# print(df0['topic_or_geo'].isnull().sum())      # 144
# print(df0['general_subdivision2'].isnull().sum())
# print(df0['general_subdivision3'].isnull().sum())
# print(df0['genre_form_focus'].isnull().sum())
# print(df0['genre_form_focus1'].isnull().sum())
# print(df0['personal_name1'].isnull().sum())
# print(df0['title1'].isnull().sum())
# print()
# print(df0['uniform_title1'].isnull().sum())
# print()
# print(df0['real_world_obj_URI2'].isnull().sum())

In [24]:
# loc_call_nos = list(df0.loc_call_no)
# topic_or_geo = list(df0.topic_or_geo)
loc_call_nos = list(df_top.loc_call_no)
topic_or_geo = list(df_top.topic_or_geo)

In [25]:
loc_call_nos

['PA3872',
 'Unknown',
 'HB119.F84',
 'HB109.M63',
 'HB103.K47',
 'RG136',
 'PA3443',
 'Unknown',
 'PA3872.Z4',
 'HB501',
 'HN13',
 'Unknown',
 'PA4035.N5',
 'Unknown',
 'Unknown',
 'PL852.O8',
 'PA4035.N5',
 'JZ1480.A54',
 'Unknown',
 'Unknown',
 'PN1978.J3',
 'PL787.T3',
 'KJC1083',
 'PA3872.Z4',
 'KJE947',
 'DS835',
 'DS894.59.A352',
 'DS894.79.O372',
 'DS894.39.F832',
 'DS894.39.M592',
 'DS894.79.H562',
 'DS894.99.O365',
 'PN1031',
 'DS894.59.G532',
 'DS896.38',
 'KJC1854',
 'DC430',
 'DS894.69.K952',
 'DS894.69.S452',
 'DS895.G5',
 'DC404',
 'DS894.99.O365',
 'Unknown',
 'DS895.I77',
 'DS855',
 'Unknown',
 'PR6045.I55',
 'Unknown',
 'Unknown',
 'PL758.I5',
 'PL758.I5',
 'PL758.I5',
 'PL758.I5',
 'KJC1826',
 'PL758.I5',
 'PL758.I5',
 'PL758.I5',
 'Unknown',
 'KJC1886',
 'Unknown',
 'PA3872.Z4',
 'Unknown',
 'PA4216',
 'PA3082',
 'PS163',
 'PA3872.Z4',
 'PA3061',
 'Unknown',
 'B765.A21',
 'P306.8.A35',
 'DP172',
 'PA4253.O65',
 'PA6766',
 'PA4216',
 'Unknown',
 'Unknown',
 'PA4216',
 'AM41',
 'Unknown',
 'PS374.C5',
 'PA3872.Z4',
 'PR317.S82',
 'PJ1981',
 'Unknown',
 'PA4216',
 'Unknown',
 'PJ1981',
 'PR275.M3',
 'Unknown',
 'PA4218',
 'HQ615',
 'Unknown',
 'PR6045.O53',
 'PQ298',
 'PA4216',
 'Unknown',
 'Unknown',
 'HC240',
 'Unknown',
 'QH431',
 'QP601',
 'Unknown',
 'Unknown',
 'Unknown',
 'QP601',
 'QP601',
 'Unknown',
 'QH431',
 'Unknown',
 'Unknown',
 'QD75.2',
 'QH426',
 'Unknown',
 'Unknown',
 'QD291',
 'QH426',
 'QD411.5',
 'Unknown',
 'QK564',
 'QH426',
 'QH426',
 'QH426',
 'QH426',
 'QH426',
 'QH426',
 'QH426',
 'QH426',
 'Unknown',
 'QH426',
 'Unknown',
 'QH426',
 'QC174.1',
 'Unknown',
 'Unknown',
 'QD305.A2',
 'QD96.N8',
 'QE391.P84',
 'QD902.5',
 'Unknown',
 'QD476',
 'Unknown',
 'QD411',
 'Unknown',
 'Unknown',
 'QC100',
 'Unknown',
 'TL586',
 'Unknown',
 'QD461',
 'TK7874',
 'QA36',
 'QB601',
 'QA169',
 'QA565',
 'QA325',
 'QA372',
 'QB355',
 'QR183.6',
 'QR183.6',
 'Unknown',
 'QD291',
 'Unknown',
 'Unknown',
 'NB90',
 'TK7872.L3',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'HD209',
 'Unknown',
 'QD501',
 'QK865',
 'QD636',
 'NK4649',
 'Unknown',
 'HM621',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'QD251',
 'QD251',
 'QC185',
 'QD28',
 'QD251',
 'RT42',
 'Unknown',
 'QD251',
 'QC454',
 'QC454',
 'QC454',
 'QD258',
 'N72.S6',
 'QC61',
 'QC61',
 'PC3975.E5',
 'K555',
 'PR3694',
 'PN5130.E8',
 'PT4848.F6Z55x',
 'QP251',
 'DA506.A9',
 'Q251',
 'Unknown',
 'PR4092',
 'QP360',
 'Unknown',
 'PR2802.A25',
 'QP90.5',
 'TX553.F53',
 'Unknown',
 'PR3459.F3',
 'Unknown',
 'Unknown',
 'KJV1290',
 'HV6431',
 'K4430',
 'KJE5461',
 'PT2607.U493',
 'KJV1668',
 'Unknown',
 'KJV484',
 'HV6025',
 'PT2607.U493',
 'PR1195.L37',
 'Unknown',
 'HD30.2',
 'KJE6577',
 'PN165',
 'QP551',
 'BF798',
 'KJC9769.A37',
 'PT2662.E75',
 'Unknown',
 'KJE982',
 'Unknown',
 'KD4210',
 'QP84.6',
 'PR1105',
 'Unknown',
 'QR184.3',
 'PT2662.E7',
 'KBR1320',
 'UB800',
 'PF3025',
 'SF291',
 'K1440',
 'QH442.2',
 'QP261',
 'Unknown',
 'QL761',
 'QL738.5',
 'PT2668.O35',
 'Unknown',
 'PT2668.O35',
 'QP572.A54',
 'Unknown',
 'SF492',
 'QP261',
 'QP572.P74',
 'QP572.S6',
 'Unknown',
 'Unknown',
 'PT2611.E24',
 'Unknown',
 'Unknown',
 'PJ7521',
 'BS2745.52',
 'Unknown',
 'PT2603.E59',
 'PT2611',
 'QL677',
 'Unknown',
 'QK898.P8',
 'Unknown',
 'Unknown',
 'Unknown',
 'BS2595.52',
 'Unknown',
 'Unknown',
 'BS1122.H32',
 'BS2617.5',
 'PT4849.H4',
 'BS2520.S8',
 'Unknown',
 'QH453',
 'BV3160',
 'HV6773',
 'PT2639.S79',
 'Unknown',
 'K118.P82',
 'HG930.5',
 'HG930.5',
 'HG2980.5.A6',
 'Unknown',
 'Unknown',
 'Unknown',
 'HG3894',
 'HG3894',
 'HG1778.E/',
 'HG2569',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'HG939.5',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'QA374.D84 1986',
 'QK757',
 'TA355',
 'QA935',
 'QE461.M23784 1989',
 'QE1',
 'QH541.5',
 'QC661.J66 1985',
 'QA614.86.V53 1989',
 'QA280.D54 1989',
 'QA275.D86 1989',
 'Unknown',
 'KDC313.L5',
 'Unknown',
 'HD2326',
 'KF385',
 'KF385',
 'K230',
 'KJA147',
 'Unknown',
 'KF425',
 'Unknown',
 'KD654',
 'KD354',
 'KF213',
 'KDC186.C58',
 'KD372.P35',
 'KF224.S64',
 'Unknown',
 'DA822.F35',
 'KD452.O94',
 'K3820',
 'K3943.A54',
 'K3850.5',
 'HF1455',
 'HC60',
 'K3830',
 'K1413 1948',
 'K1413 1967',
 'K1447.4.A25',
 'Unknown',
 'K1447.3.A33',
 'K3780.A41961',
 'Unknown',
 'K1500',
 'Unknown',
 'HJ1000',
 'JC571',
 'HF1713',
 'Unknown',
 'LAW',
 'Unknown',
 'Unknown',
 'VM15',
 'VM15',
 'D21.3',
 'TD883.1',
 'QD25',
 'BR141',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'PQ7082.P7',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'DA28.1 .W5',
 'N6915',
 'Unknown',
 'PJ7529',
 'Unknown',
 'Unknown',
 'DA787.A1 H83',
 'Unknown',
 'Unknown',
 'JN5451',
 'Unknown',
 'Unknown',
 'Unknown',
 'NA1050 .M297 1995',
 'BP166.2',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'HM55 .C7',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'ND497.M85 S6',
 'Unknown',
 'QK495.A1',
 'Unknown',
 'Unknown',
 'DG737.9 .R46',
 'SD121',
 'Unknown',
 'QA331.7 .A52 1997',
 'S590.4',
 'Unknown',
 'SD561',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'S589.7',
 'QB801',
 'GN320 .P44 1993',
 'Unknown',
 'HC130.E5',
 'Unknown',
 'DA68.12 .G74',
 'BQ4398',
 'Unknown',
 'HC59.69',
 'HC59.69',
 'HC59.69',
 'HC59.69',
 'Unknown',
 'HC59.69',
 'Unknown',
 'Unknown',
 'RA643',
 'Unknown',
 'PN1994',
 'DA566.4',
 'Unknown',
 'TK7881.6',
 'Unknown',
 'DS493.9.N94 W37 1996',
 'PN1992.945',
 'R835 .C37 1995',
 'QL76 .N48 1996',
 'PN1995.9.D6',
 'D810.J4',
 'DS570.Y83',
 'E184.S2 S38 1994',
 'DS489.25.M8 A73 1993',
 'GT4814.A2 R57 1994',
 'HN687',
 'Unknown',
 'GN347 .R55 1996',
 'Unknown',
 'HF1610 .U78 1996',
 'Unknown',
 'Unknown',
 'Unknown',
 'GN635.S57',
 'Unknown',
 'Unknown',
 'Unknown',
 'LB1060 .U53 1992',
 'JF60',
 'HC60 .B884 1997',
 'HC433.5 .C65 1996',
 'TP605',
 'BS455',
 'PR6064.A/',
 'JK511',
 'E443',
 'DA88.1.D9',
 'HV9069',
 'P29',
 'HD8390',
 'JV185',
 'K1965',
 'RC514',
 'QA141',
 'RC263',
 'HD9686.A2',
 'DA963',
 'D810.S7',
 'HM36.5',
 'HG8597',
 'BC135',
 'DD257.25',
 'NA270',
 'B778',
 'HV1568',
 'LB1025.2',
 'DA4',
 'PR4753',
 'LF109',
 'Unknown',
 'CT1217.T6',
 'HD9710.G74D4',
 'DA69.3.M56',
 'HV6025',
 'LA721.81',
 'TJ213',
 'LB3051',
 'PC2112',
 'Unknown',
 'HD8390',
 'Unknown',
 'PC1640',
 'PC1640',
 'Unknown',
 'HV6248.M2797',
 'DF631',
 'DS473',
 'CC81',
 'KD1641',
 'RJ499',
 'TA685',
 'JS3091',
 'Unknown',
 'HC241.25.G7',
 'HC256.6',
 'Unknown',
 'HB615',
 'HJ9423',
 'HD9551.5',
 'HD7096.G7',
 'HV8959.R9',
 'TG140.M3',
 'NA680',
 'Unknown',
 'B809.8',
 'Unknown',
 'RC423',
 'RA591.7',
 'RA1242.T6',
 'HV3008.G7',
 'RA1151',
 'HV249.S5',
 'RC455.2.C65',
 'RC346',
 'RA1242.T6',
 'QA374',
 'QA371',
 'T57.6',
 'QA374',
 'Unknown',
 'TC405',
 'TA645',
 'QK711.2',
 'QA247',
 'QA372',
 'Unknown',
 'HD6502.A2',
 'KD3040',
 'T57.74',
 'LB1025.2',
 'JS3111',
 'LB1025',
 'Unknown',
 'Unknown',
 'BX1530',
 'PA8260',
 'BX2470',
 'BV1515',
 'HS2865.L/O/',
 'Unknown',
 'DS36.8',
 'PT2433.M4',
 'Unknown',
 'PT7063',
 'PT9876.15K77',
 'Unknown',
 'PT8363',
 'PT9876.15.K77',
 'Z7770',
 'PT9876.15.K77',
 'Unknown',
 'PT9876.15.K77',
 'PQ1522',
 'Unknown',
 'PQ1424.A4',
 'Unknown',
 'PT9876.15.V3',
 'Z7770',
 'PQ2474',
 'PT9876.15.V3',
 'PT9876.15.K7',
 'PQ2474.Z5',
 'PQ1183',
 'PQ2344.Z5',
 'BS425',
 'PQ2463',
 'BS425',
 'PT9876.15.K55',
 'Unknown',
 'PT9876.15.K55',
 'BS440',
 'PT9876.15.K55',
 'BS440',
 'PQ2387.R5',
 'PT9876.15.V3',
 'PQ2387',
 'PQ2387.R5',
 'PT9875.F788',
 'PQ2601.R2',
 'Unknown',
 'PN203',
 'PQ2603.R35',
 'PQ2603.R35',
 'PQ2607.E75',
 'PT9876.16.A45',
 'PQ2611.R437',
 'PQ2625.I2',
 'BS440',
 'PQ2635.E85',
 'Unknown',
 'PQ1573',
 'Unknown',
 'PQ1956.A73',
 'PT9876.16.A45',
 'PR6003.E282',
 'PQ2613.E53',
 'Z6371.D4',
 'PQ2617.O6',
 'PQ1567',
 'Unknown',
 'PQ631',
 'PQ2043',
 'BS195 .J4 1968',
 'Z7771.A5',
 'BS230',
 'BS447.W3',
 'PQ2205',
 'DG78',
 'N7790',
 'Unknown',
 'PQ2205.Z5',
 'PQ2441',
 'PQ2260.G36',
 'Q175.5',
 'PQ2260.G36',
 'QA29.N4',
 'QA28',
 'Unknown',
 'QA155',
 'Unknown',
 'Unknown',
 'PQ2362.Z5',
 'PQ2625.I16',
 'Unknown',
 'Unknown',
 'DD801.S352',
 'Unknown',
 'GN281',
 'GN803',
 'DL121 .B7',
 'PQ2152.A5',
 'Unknown',
 'PQ2528',
 'PQ2511.O42',
 'PQ2534',
 'PQ2605.A3734',
 'PN1997.L13',
 'PQ2678.I47',
 'PQ2635.O5',
 'PQ2635.O5',
 'PQ2635.O5',
 'PR403',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'PR5451',
 'BV4010',
 'Unknown',
 'Unknown',
 'Unknown',
 'BV4011',
 'Unknown',
 'Unknown',
 'BV4360',
 'BV660.2',
 'Unknown',
 'Unknown',
 'BV4011',
 'BV675.5',
 'Unknown',
 'Unknown',
 'G850 1902',
 'Unknown',
 'Unknown',
 'BV2653',
 'BV4011',
 'Unknown',
 'BV660.2',
 'BV675',
 'BV660.2',
 'BV4320',
 'BV4012.2',
 'Unknown',
 'Unknown',
 'BX1970',
 'Unknown',
 'Unknown',
 'RA971.3',
 'RA972.5',
 'Unknown',
 'Unknown',
 'RA1231.P55',
 'Unknown',
 'Unknown',
 'HD7269.A6',
 'Unknown',
 'Unknown',
 'Unknown',
 'K286',
 'Unknown',
 'KK938',
 'Unknown',
 'HD7269.A6',
 'K242',
 'KF352',
 'HD7269.A6',
 'HD7269.A6',
 'K334',
 'HD7269.A6',
 'HD7269.A6',
 'K250',
 'Unknown',
 'KNN132',
 'K160',
 'K230.S645',
 'HD9698.5',
 'Unknown',
 'K230.S736',
 'Unknown',
 'K230.S736',
 'K372',
 'Unknown',
 'K415',
 'K212',
 'K574',
 'K230.S76',
 'K371',
 'K357',
 'Unknown',
 'RA975',
 'K215.E53',
 'Unknown',
 'JA71',
 'Unknown',
 'K415',
 'Unknown',
 'JC223.M66',
 'K235',
 'Unknown',
 'K252',
 'K230.U56',
 'JA71',
 'K460',
 'K230.D437',
 'K230.D437',
 'B65',
 'K230.V52',
 'K215.F74',
 'JA66',
 'K235',
 'QA297',
 'N66',
 'RD592.9.C87',
 'Z6620.F8',
 'HB180.J3',
 'HC462.9',
 'AI19.J3',
 'HC59',
 'HC79.T4',
 'HC465.S3',
 'HQ1743',
 'TA345',
 'Unknown',
 'HC462.9',
 'Unknown',
 'TA345',
 'HC462',
 'F1465.2.M3',
 'AI19.J3',
 'HB135',
 'N350',
 'E98.F39',
 'AI19.J3',
 'HB72',
 'BQ676',
 'Unknown',
 'Z6621.B193',
 'QA273',
 'F849.L35',
 'QA76.7',
 'BQ8552',
 'Q185',
 'F392.F7',
 'HD70.J3',
 'HD70.J3',
 'PA3024',
 'Unknown',
 'CD1689.S77',
 'AE35.2',
 'HD70.J3',
 'U27',
 'HD8726.8',
 'QA297',
 'DU122.J36',
 'Unknown',
 'Z6623',
 'QA76.73.J38 L52 2007',
 'QA276.4',
 'Unknown',
 'DC33.7',
 'AE35.2',
 'N365.G7',
 'BF458',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'GV854',
 'DS479',
 'Q335',
 'Z6621.L82',
 'Unknown',
 'Unknown',
 'Unknown',
 'Z6621.L82',
 'Unknown',
 'PA4240.L4',
 'Unknown',
 'Z6621.L82',
 'Z6621.B844',
 'HF5387',
 'Unknown',
 'HD70.J3',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'HF1359',
 'HG4028.C6',
 'HF5500.3.J3',
 'Unknown',
 'HD37.J3',
 'Unknown',
 'DS911.2',
 'HG3977',
 'HD62.4',
 'HF5548.37',
 'S613',
 'HC462.9',
 'BF531',
 'KF4783',
 'Unknown',
 'KLB820.3',
 'RC454',
 'Unknown',
 'KK2249.2',
 'RA407.5.E85',
 'PG3492.76.I53',
 'Unknown',
 'RC569.5.A34',
 'QE711.2',
 'PL642',
 'N6763',
 'QB631',
 'PG2112',
 'NX663.I8',
 'RC455.2.E94',
 'N7337',
 'Unknown',
 'PQ4683.B43',
 'HV697',
 'Unknown',
 'Unknown',
 'GV1204.55',
 'PG3485.7.U225',
 'Unknown',
 'Unknown',
 'PN6519.J3',
 'Unknown',
 'Unknown',
 'JZ1305',
 'RC514',
 'Unknown',
 'Unknown',
 'BF575.A5',
 'BF637.C45',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'BF441',
 'Unknown',
 'Unknown',
 'BF385',
 'RC554',
 'Unknown',
 'Unknown',
 'PT1176',
 'Unknown',
 'Unknown',
 'PT641',
 'Unknown',
 'PN2658.G7',
 'Unknown',
 'AG55',
 'Unknown',
 'PT343',
 'PN689',
 'RC512',
 'Unknown',
 'Unknown',
 'GR166',
 'Unknown',
 'RJ216',
 'PT1160.E8',
 'Unknown',
 'Unknown',
 'BX9223',
 'Unknown',
 'DS778.7',
 'Unknown',
 'BX9223',
 'HG221',
 'PT85',
 'RC451.4.A5',
 'PT155',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'PT85',
 'HN800.N5',
 'JK518',
 'E744',
 'JZ1305',
 'LAW',
 'KD4080',
 'JZ1305',
 'DD86.8',
 'JN237.1967',
 'JK723.E9',
 'JN673',
 'JN6598.K7',
 'JA37',
 'JF1351',
 'JA81',
 'KD4890',
 'HN440.E4',
 'HX239.Z7',
 'JS4947',
 'HX288',
 'HM261',
 'E178',
 'HD4145',
 'DC404',
 'HD4145',
 'DK274',
 'JK274',
 'DK267',
 'JK1061',
 'PN4748.G7',
 'HV8699.G8',
 'JZ5600',
 'HN400.E4',
 'DS777.55',
 ...]

Obtain the LCC main class of a record (in this case, a printed book) from the Library of Congress Call Number

*Based on the Library of Congress Classification (LCC) Outline: https://www.loc.gov/catdir/cpso/lcco/*

In [28]:
lcc_dict = {'A':'GENERAL WORKS','B':'PHILOSOPHY. PSYCHOLOGY. RELIGION','C':'AUXILIARY SCIENCES OF HISTORY',
            'D':'WORLD HISTORY AND HISTORY OF EUROPE, ASIA, AFRICA, AUSTRALIA, NEW ZEALAND, ETC.',
            'E':'HISTORY OF THE AMERICAS','F':'HISTORY OF THE AMERICAS','G':'GEOGRAPHY. ANTHROPOLOGY. RECREATION',
            'H':'SOCIAL SCIENCES','J':'POLITICAL SCIENCE','K':'LAW','L':'EDUCATION','M':'MUSIC AND BOOKS ON MUSIC',
            'N':'FINE ARTS','P':'LANGUAGE AND LITERATURE','Q':'SCIENCE','R':'MEDICINE','S':'AGRICULTURE',
            'T':'TECHNOLOGY','U':'MILITARY SCIENCE','V':'NAVAL SCIENCE','Z':'BIBLIOGRAPHY. LIBRARY SCIENCE. INFORMATION RESOURCES (GENERAL)'}

lcc_main_class_letters = lcc_dict.keys()

def validLCC(call_number, lcc_main_class_letters):
    first_char = str(call_number)[0]
    if first_char in lcc_main_class_letters:
        return True
    else:
        return False

lcc_main_class_list = []
for call_no in loc_call_nos:
    call_no = str(call_no)
    if (call_no == 'nan') or (not validLCC(call_no, lcc_main_class_letters)):
        lcc_main_class_list += ["UNKNOWN"]
    else:
        first_letter = call_no[0]
        main_class = lcc_dict[first_letter]
        lcc_main_class_list += [main_class]
        
assert len(lcc_main_class_list) == len(loc_call_nos)
print(len(lcc_main_class_list))

1297311

In [29]:
# df0_clean['lcc_no'] = loc_call_nos
# df0_clean['lcc_main_class'] = lcc_main_class_list
#df0_clean
df_top_clean = pd.DataFrame()
df_top_clean['lcc_no'] = loc_call_nos
df_top_clean['lcc_main_class'] = lcc_main_class_list
df_top_clean.tail()

             lcc_no           lcc_main_class
1297306  PT2621.A26  LANGUAGE AND LITERATURE
1297307    NB623.B5                FINE ARTS
1297308    HF3756.5          SOCIAL SCIENCES
1297309      P81.G7  LANGUAGE AND LITERATURE
1297310      HD47.4          SOCIAL SCIENCES

In [36]:
print(len(pd.unique(topic_or_geo)))

68348

In [37]:
new_topic_or_geo = []
for terms in topic_or_geo:
    terms = str(terms)
    if terms == 'nan':
        new_terms = []
    else:
        terms = terms.replace('.','')
        new_terms = list(set(terms.split(';')))  # set is list of unique elements (no duplicates)
    new_topic_or_geo += [new_terms]

assert len(new_topic_or_geo) == len(topic_or_geo)

In [39]:
# new_topic_or_geo

In [52]:
# df0_clean['topic_or_geo'] = new_topic_or_geo
#df0_clean

# df_geo_clean['topic_or_geo'] = new_topic_or_geo
# df_geo_clean.head()

df_top_clean['topic_or_geo'] = new_topic_or_geo
df_top_clean.head()

,lcc_no,lcc_main_class,ddc_no,ddc_main_class,topic_or_geo
0,PA3872,LANGUAGE AND LITERATURE,Unknown,Unknown,[Argonauts (Greek mythology)]
1,Unknown,MILITARY SCIENCE,Unknown,Unknown,[Hepatitis]
2,HB119.F84,SOCIAL SCIENCES,Unknown,Unknown,[Economists]
3,HB109.M63,SOCIAL SCIENCES,B,Unknown,[Keynesian economics]
4,HB103.K47,SOCIAL SCIENCES,330.156,Social sciences,[Economists]

Obtain the DDC main class of a record (in this case, a printed book) from the Dewey Decimal Classification number

*Based on the DDC23 summaries: https://www.oclc.org/content/dam/oclc/dewey/ddc23-summaries.pdf*

In [47]:
dewey_nos = list(df_top.dewey_no)

# INPUT: Dewey Decimal Classification number (string)
# OUTPUT: Dewey Decimal Classification main class name (string)
def DdcClassName(ddc_number):

    ddc_dict = {'000':'Computer science, information & general works',
            '100':'Philosophy & psychology','200':'Religion','300':'Social sciences',
            '400':'Language','500':'Science','600':'Technology','700':'Arts & recreation',
            '800':'Literature','900':'History & geography'}
    
    if str(ddc_number) == 'nan':
        return "Unknown"
    else:
        digits = re.findall('\d{1}',ddc_number)
        if (len(digits) > 0):
            first_digit = digits[0]
            main_class_no = first_digit + '00'
        else:
            return "Unknown"
        return ddc_dict[main_class_no]


ddc_main_class_list = []
for call_no in dewey_nos:
    ddc_main_class_list += [DdcClassName(str(call_no))]
        
assert len(ddc_main_class_list) == len(dewey_nos)
ddc_main_class_list

['Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Social sciences',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Arts & recreation',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Language',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Computer science, information & general works',
 'Unknown',
 'Literature',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'History & geography',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Science',
 'Science',
 'Science',
 'Science',
 'Science',
 'Science',
 'Unknown',
 'Science',
 'Science',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Social sciences',
 'Unknown',
 'Computer science, information & general works',
 'Unknown',
 'Science',
 'Unknown',
 'Science',
 'Science',
 'Literature',
 'Unknown',
 'Unknown',
 'Literature',
 'Technology',
 'Technology',
 'Technology',
 'Literature',
 'Technology',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Social sciences',
 'Literature',
 'Science',
 'Philosophy & psychology',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Literature',
 'Religion',
 'Social sciences',
 'Literature',
 'Technology',
 'Unknown',
 'Unknown',
 'Science',
 'Unknown',
 'Science',
 'Science',
 'Literature',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Technology',
 'Science',
 'Technology',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Literature',
 'Literature',
 'Unknown',
 'Unknown',
 'Science',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Religion',
 'Science',
 'Science',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Science',
 'Science',
 'Technology',
 'Science',
 'Unknown',
 'Science',
 'Unknown',
 'Science',
 'Science',
 'Science',
 'Science',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Technology',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Arts & recreation',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Language',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Arts & recreation',
 'Unknown',
 'Unknown',
 'Technology',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'History & geography',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'History & geography',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Technology',
 'Religion',
 'Literature',
 'Social sciences',
 'History & geography',
 'Social sciences',
 'Social sciences',
 'Language',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Technology',
 'Science',
 'Social sciences',
 'Social sciences',
 'History & geography',
 'History & geography',
 'Social sciences',
 'Social sciences',
 'Science',
 'History & geography',
 'Arts & recreation',
 'Philosophy & psychology',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Literature',
 'Social sciences',
 'Social sciences',
 'History & geography',
 'Social sciences',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Technology',
 'Social sciences',
 'Language',
 'Social sciences',
 'Social sciences',
 'Language',
 'Language',
 'Language',
 'Social sciences',
 'Social sciences',
 'History & geography',
 'History & geography',
 'History & geography',
 'Technology',
 'Technology',
 'Technology',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Arts & recreation',
 'Arts & recreation',
 'Philosophy & psychology',
 'Social sciences',
 'Technology',
 'Technology',
 'Technology',
 'Social sciences',
 'Technology',
 'Social sciences',
 'Technology',
 'Technology',
 'Technology',
 'Science',
 'Science',
 'Technology',
 'Science',
 'Unknown',
 'Technology',
 'Technology',
 'Science',
 'Science',
 'Science',
 'Science',
 'Social sciences',
 'Social sciences',
 'Science',
 'Social sciences',
 'Social sciences',
 'Social sciences',
 'Science',
 'Social sciences',
 'Social sciences',
 'Religion',
 'Religion',
 'Social sciences',
 'Social sciences',
 'Literature',
 'History & geography',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Computer science, information & general works',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Computer science, information & general works',
 'Unknown',
 'Unknown',
 'Unknown',
 'History & geography',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Religion',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Religion',
 'Literature',
 'Literature',
 'Unknown',
 'Literature',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Computer science, information & general works',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Religion',
 'Computer science, information & general works',
 'Computer science, information & general works',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'History & geography',
 'History & geography',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'History & geography',
 'Unknown',
 'Science',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Literature',
 'Unknown',
 'Literature',
 'Literature',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Religion',
 'Unknown',
 'Unknown',
 'Unknown',
 'Religion',
 'Unknown',
 'Unknown',
 'Religion',
 'Religion',
 'Unknown',
 'Unknown',
 'Religion',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Religion',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Religion',
 'Religion',
 'Religion',
 'Unknown',
 'Unknown',
 'Religion',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Technology',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Technology',
 'Philosophy & psychology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Philosophy & psychology',
 'Social sciences',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Science',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Computer science, information & general works',
 'Unknown',
 'Science',
 'Unknown',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Arts & recreation',
 'Unknown',
 'Computer science, information & general works',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Computer science, information & general works',
 'Unknown',
 'Unknown',
 'Unknown',
 'Computer science, information & general works',
 'Computer science, information & general works',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Philosophy & psychology',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Technology',
 'Science',
 'Unknown',
 'Arts & recreation',
 'Science',
 'Unknown',
 'Unknown',
 'Technology',
 'Arts & recreation',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Arts & recreation',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Technology',
 'Unknown',
 'Unknown',
 'Philosophy & psychology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Philosophy & psychology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Arts & recreation',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Technology',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Technology',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'History & geography',
 'Unknown',
 'Unknown',
 'Technology',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Literature',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Social sciences',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 ...]

In [53]:
# df0_clean['ddc_no'] = dewey_nos
# df0_clean['ddc_main_class'] = ddc_main_class_list
# df0_clean

df_top_clean['ddc_no'] = dewey_nos
df_top_clean['ddc_main_class'] = ddc_main_class_list

df_top_clean

df_top_clean.head()

,lcc_no,lcc_main_class,ddc_no,ddc_main_class,topic_or_geo
0,PA3872,LANGUAGE AND LITERATURE,Unknown,Unknown,[Argonauts (Greek mythology)]
1,Unknown,MILITARY SCIENCE,Unknown,Unknown,[Hepatitis]
2,HB119.F84,SOCIAL SCIENCES,Unknown,Unknown,[Economists]
3,HB109.M63,SOCIAL SCIENCES,B,Unknown,[Keynesian economics]
4,HB103.K47,SOCIAL SCIENCES,330.156,Social sciences,[Economists]

Export a CSV of the cleaned topical dataframe.

In [54]:
df_top_clean.to_csv('Data/VizData/topical_print_book_data.csv')

Determine how many records have no subject classification information (meaning no topical term nor geographic name, no Library of Congress call number, and no Dewey Decimal call number)

In [51]:
no_subjects = []
for index,row in df0_clean.iterrows():
    if (len(row['topic_or_geo']) == 0) and (row['lcc_main_class'] == "UNKNOWN") and (row['ddc_main_class'] == "Unknown"):
        no_subjects.append(index)

print(len(no_subjects),"records do not have subject information:")
print(no_subjects)

#### Publication Place: Countries and Coordinates

In [48]:
cities_countries = pd.read_json("Data/MapData/ne_50m_populated_places/ne_50m_populated_places.json",typ='frame')
print(cities_countries.head())
print(cities_countries.shape)

                                            features               type
0  {'type': 'Feature', 'geometry': {'type': 'Poin...  FeatureCollection
1  {'type': 'Feature', 'geometry': {'type': 'Poin...  FeatureCollection
2  {'type': 'Feature', 'geometry': {'type': 'Poin...  FeatureCollection
3  {'type': 'Feature', 'geometry': {'type': 'Poin...  FeatureCollection
4  {'type': 'Feature', 'geometry': {'type': 'Poin...  FeatureCollection
(1249, 2)

In [49]:
print("City:", cities_countries.iloc[0].features['properties']['NAME'])             # NAME = city name
print("Country:", cities_countries.iloc[0].features['properties']['ADM0NAME'])      # SOV0NAME = country name
print("Coordinates:", cities_countries.iloc[0].features['geometry']['coordinates'])  # coordinates = latitude,longitude

City: Bombo
Country: Uganda
Coordinates: [32.533299524864844, 0.583299105614628]

Create CSV files of cities, their countries and their coordinates, and the number of records published in that city

In [50]:
# First create one list each for worldwide cities, worldwide countries, and worldwide city coordinates, and
# a list of cities per country contained in a list of all countries worldwide

cities_list = []
countries_list = []
cities_per_country = []
city_coords_list = []
maxI = cities_countries.shape[0]
i = 0
country = cities_countries.iloc[0].features['properties']['ADM0NAME']
country_cities = []
while i < maxI:
    new_country = cities_countries.iloc[i].features['properties']['ADM0NAME']
    new_city = cities_countries.iloc[i].features['properties']['NAME']
    
    # Create a list of cities per country
    if country == new_country:
        country_cities.append(new_city)
    else:
        cities_per_country.append([country,country_cities])
        # Create a list of unique countries (non-repeating)
        countries_list.append(country)
        country = new_country
    
    # Create a list of unique cities (non-repeating)
    cities_list.append(new_city)
    # Create a list of unique coordinates for each city (non-repeating)
    city_coords_list.append(cities_countries.iloc[i].features['geometry']['coordinates'])
    
    i += 1

assert len(city_coords_list) == len(cities_list)

# print(cities_per_country)

In [51]:
# Second create a list of the total number of books (a.k.a. records or dataframe rows) published in each city

publ_cities = []
publ_cities_lists = df0_clean['publication_place']
for cities in publ_cities_lists:
    for city in cities:
        if '.' not in city:       # states are abbreviated with periods (.)
            publ_cities.append(city)

#publ_cities  # Note that some items in this list are actually countries

In [52]:
# countries_list

In [53]:
# INPUT: [first] a list of cities worldwide (strings) and [second] a list of cities to count
# OUTPUT: list of the total times each city from the second list appears for every city in the first list
def countCities(world_cities,to_count):
    city_counts = []
    for world_city in world_cities:
        count = 0
        for city in to_count:
            if world_city in city:
                count += 1
        city_counts.append(count)
    
    return city_counts

city_totals = countCities(cities_list,publ_cities)
assert len(city_totals) == len(cities_list)

In [54]:
# Third create a list of the total number of books (a.k.a. records or dataframe rows) published in each country

# INPUT: [first] a list of countries worldwide (strings) and their corresponding cities (lists of strings) 
#        and [second] a list of cities to count
# OUTPUT: list of the total times each city from the second list appears for every city in the first list
def countCountriesByCity(world_cities_per_country,to_count):
    country_totals = []
    for world_country in world_cities_per_country:
        count = 0
        country = world_country[0]
        cities = world_country[0]
        for city in to_count:
            if city in cities:
                count += 1
        country_totals.append(count)
    
    return country_totals

country_totals = countCountriesByCity(cities_per_country,publ_cities)
assert len(country_totals) == len(countries_list)